* {
    box-sizing: border-box;
}
/* Alapháttér beállítás */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}
/*Navigációs Bár beállítás*/
nav {
    padding-top: 30px;
    padding-left: 30px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;

}

.logo img {
    height: 80px;
}

.logo p {
    color: grey;
    margin: 0;
    padding: 0;
}

.profile i {
    padding-top: 40px;
}
/*Kereső felület beállítás, 2 fül elrendezés*/
main {
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-top: 50px;
    width: 100%;
}

a{
    text-decoration: none;
    color: grey;
}

.choose_view {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.students_view,
.groups_view {
    width: 500px;
    padding: 50px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.students_view {
    margin-right: 10px;
    background-color: white;
}

.groups_view {
    margin-left: 10px;
    background-color: rgb(216, 230, 248);
}


.study{
    text-transform: uppercase;
    color:grey;
    font-weight: bold;
    margin-bottom: 0;
}
.groups{
    color: lightgray;
}


.students {
    text-transform: uppercase;
    color: deepskyblue;
    font-weight: bold;
    margin-bottom: 0;
}

/*Kereső és Listázó felület*/
.students_search{
    position: relative;
    top: -50px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    padding-top: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.search_text,
.checkbox_text{
    font-size: 14px;
    text-transform: uppercase;
    color: lightgrey;
}

input[type="search"] {
    background-color: lightgray;
    color: white !important;
    height: 2rem;
    width: 230px;
    border: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    margin-bottom: 40px;
}


input[type="checkbox"] {
    margin-bottom: 20px;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

label {
    color: black;
    align-items: center;
    cursor: pointer;
}


input[type="checkbox"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 16px;
    color: #d5d5d5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type="checkbox"]:checked {
    background-color: orange;
    color: #000000 !important;

}

/*Gombok (Új hozzáadás)*/
.information{
    display: flex ;
    align-items: center;
    padding: 50px;
    margin-left: 100px;
}


.new_icon, .new_text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    justify-content: center;
  }

.new_icon {
    margin-left: 40px;
    background-color: skyblue;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:40px; 
  }

  .new_text {
    background-color: deepskyblue;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 80px; 
  }