*{
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey ;
    height: 100%;
}

nav{
    padding-top: 30px;
    padding-left: 30px; 
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    
}

.logo img{
    height: 80px;
}

.logo p{
    color: orange;
    margin: 0;
    padding: 0;
}

.profile i{
    padding-top: 40px;
}

main{
    display: flex;
    padding: 100px;
    padding-top: 50px;

}

main aside{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    height: 80%;

}

.students{
    text-transform: uppercase;
    color:deepskyblue;
    font-weight: bold;
    margin-bottom: 0;
}

input[type="search"] {
    background-color: lightgray;
    color: white !important;
    height: 2rem;
    width: 300px;
    border: 0;
  }

input[type="checkbox"] {
    cursor: pointer ;
    background-color: orange !important;
  }
  
main section{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    height: 80%;
    margin-left: 10px;
}
.study{
    text-transform: uppercase;
    color:grey;
    font-weight: bold;
    margin-bottom: 0;
}
.groups{
    color: lightgray;
}

.circle{
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid black ;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.icons{
    text-align: center;
}
